
// colors
$black: #000;
$dark: #9a9a9a00;
$gray: #19191900;
$light: #fff;
$danger: #D63447;

// shadow
$shadow: -5px 5px 30px 0px rgba(158, 158, 158, 0.3);

// font sizes
$font-very-small: 8pt;
$font-small: 10pt;
$font-medium: 13pt;
$font-large: 15pt;
$font-xlarge: 25pt;
